# FS
MAX_WRITE_FILE_SIZE= # Max write file size in bytes (default: 1_000_000_000)
MAX_READ_FILE_SIZE= # Max read file size in bytes (default: 20_000_000_000)
SEEK_SKIP_BYTES= # Skip bytes per seek iteration (default: 1024)
READ_BYTES= # Read file by chunks in size of bytes (default: 1024)
MMAP_READ_BYTES= # Read exact amount of bytes into the RAM (default: 5_368_709_120)
FS_TEST_RUNS_COUNT= # How many times run tests (default: 20)

#CPU
CPU_NUM_CALCS= # How many calcs should be done by each cpu thread (default: 10_000_000)
CPU_NUM_ITERS= # How many iterations in threads will be done (default: 20_000)
CPU_TEST_RUNS_COUNT= # How many times run tests (default: 20)
CPU_MAX_THREADS= # How many threads will be used tests (default: depends on machine CPU)
